.main-chat
  .main-chat__group-info
    .main-chat__group-info__leftbox
      .main-chat__group-info__leftbox__current-group
        = @group.name
        .main-chat__group-info__leftbox__name
          Member:
          - @group.users.each do |user|
            = user.name
    .main-chat__group-info__edit
      = link_to edit_group_path(@group),class: "main-chat__group-info-edit" do
        Edit
  .main-chat__message-list
    = render @messages
  .main-chat_form
    = form_for [@group, @message] do |f|
      .form-new_message
        .new_message-input-box
          .input-box-text
            = f.text_field :content, class: 'form-new_message', placeholder: 'type a message'
          .input-box-image
            .image-gazo
              = f.label :image, class: 'image-gazo' do
                = icon('fas','image', class: 'icon')
                = f.file_field :image, class: 'hidden'
        .form-new_message-btn
          = f.submit 'Send', class: 'form__submit'