.side-bar
  .side-bar__user-name
    .top-items
      .top-items__name
        = current_user.name
      .top-items__menubox
        .menubox__group-icon
          = link_to new_group_path, class: "top-items__name" do
            = icon('fas','edit', class: 'top-item__name')
        .menubox__edit-icon
          = link_to edit_user_path(current_user), class: "top-items__name" do
            = icon('fas','cog', class: 'top-items__name')
  .side-bar__group-list
    - current_user.groups.each do |group|
      .group-team
        = link_to '#' do
          .group-team__name
            = group.name
      -#     .group-team__message
      -#       まだメッセージがありません
  